In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#####
#Carregando bases de treinamento e de teste
#####
base = pd.read_csv("train.csv")

#####
# Convertendo datas para DateTime
#####
base['DateTime'] = pd.to_datetime(base['DateTime'])

In [2]:
#####
# Obtendo informações sobre a data na base de treinamento
#####
base['Weekday'] = [datetime.weekday(date) for date in base.DateTime]
base['Year'] = [date.year for date in base.DateTime]
base['Month'] = [date.month for date in base.DateTime]
base['Day'] = [date.day for date in base.DateTime]
base['Time'] = [((date.hour*60+(date.minute))*60)+date.second for date in base.DateTime]
base['Week'] = [date.week for date in base.DateTime]
base['Quarter'] = [date.quarter for date in base.DateTime]

In [3]:
base

,DateTime,Junction,Vehicles,ID,Weekday,Year,Month,Day,Time,Week,Quarter
0,2015-11-01 00:00:00,1,15,20151101001,6,2015,11,1,0,44,4
1,2015-11-01 01:00:00,1,13,20151101011,6,2015,11,1,3600,44,4
2,2015-11-01 02:00:00,1,10,20151101021,6,2015,11,1,7200,44,4
3,2015-11-01 03:00:00,1,7,20151101031,6,2015,11,1,10800,44,4
4,2015-11-01 04:00:00,1,9,20151101041,6,2015,11,1,14400,44,4
...,...,...,...,...,...,...,...,...,...,...,...
48115,2017-06-30 19:00:00,4,11,20170630194,4,2017,6,30,68400,26,2
48116,2017-06-30 20:00:00,4,30,20170630204,4,2017,6,30,72000,26,2
48117,2017-06-30 21:00:00,4,16,20170630214,4,2017,6,30,75600,26,2
48118,2017-06-30 22:00:00,4,22,20170630224,4,2017,6,30,79200,26,2
48119,2017-06-30 23:00:00,4,12,20170630234,4,2017,6,30,82800,26,2

In [4]:
# X = previsor
# Y = previsto
x = base.drop(['Vehicles'], axis=1)
x = x.drop(['DateTime'], axis=1).values
y = base.iloc[:, 2].values

# Descobrindo correlação

In [5]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x, y)
score = regressor.score(x, y)
score

0.6018150633555323

# Gerando bases de treinamento e teste

In [7]:
from sklearn.model_selection import train_test_split
x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(x, y,test_size = 0.3,random_state = 0)

In [10]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_treinamento, y_treinamento)
score = regressor.score(x_treinamento, y_treinamento)
score

0.5963711503842326

In [13]:
previsoes = regressor.predict(x_teste)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_teste, previsoes)

regressor.score(x_teste, y_teste)

0.6144925761232972